/bin
/build3/gmake
/build_cmake/

*.pyc

# Python
__pycache__/
*.py[cod]

# Pip
pip-selfcheck.json
*.whl
*.egg
*.egg-info

# Setuptools
/build
/dist
*.eggs
/build3/vs2013
/build3/vs2008
/build3/vs2013-x64
/build3/vs2015-x64
/build3/install
/build3/install_x64
/build3/vs2015
